.git
.gitignore
Dockerfile
.dockerignore
bin/*
!bin/rails
!bin/rake
config/master.key
config/credentials/*.key
log/*
tmp/*
*.pid
*.log
*.sqlite3
public/assets
public/packs
public/packs-test
node_modules
.yarn
coverage
